$light_gray_color: #F5F5F5;
$black_color: #5a5a5a;
$dark_gray_color: #535353;
$dark_gray_second_color: #474747;
$orange_color: #dc582a;
$white_color: #FFFFFF;
$darker_black_color: #1b1b1b;
$darker_black_color_second: #313131;
$darker_black_color_third: #0d1019;